#booking-node-form {

}
  #booking-node-form fieldset,
  #booking-node-form .fieldset-wrapper,
  #booking-node-form .edit-field-date-und-0-value/*,
  #booking-node-form .container-inline-date .date-padding,
  #booking-node-form .container-inline-date > .form-item*/ {
    border: 0;
    padding: 0;
  }
  
  #booking-node-form fieldset {
  
  }
    #booking-node-form .fieldset-wrapper {
    
      }
      
      #booking-node-form input {
      
        max-width: 275px;
      }
      #booking-node-form input#edit-field-comment-und-0-value {
        height: 30px;
      }
      #booking-node-form .form-item-field-date-und-0-value-hour {
      
      }